# Dependencias (Nunca se suben porque son pesadas y se reinstalan con npm install)
node_modules/

# Variables de entorno (Aquí están tus contraseñas de MySQL, ¡Súper secreto!)
.env

# Logs de errores de npm
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Archivos del Sistema Operativo
.DS_Store
Thumbs.db

# Configuración de editores (Opcional)
.vscode/
.idea/